<%= render @cart %>

<article>
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
  <%= render @cart %>
</article>

<div>
  <br><br>
  <%= link_to "Edit this cart", edit_cart_path(@cart) %> |
  <%= link_to "Back to carts", carts_path %>
  <br><br>
  <%= button_to "Destroy this cart", @cart, method: :delete %>
</div>